.header {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.headerForm {
    display: flex;
    align-items: center;
}

.headerFormInput {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    margin-right: 10px;
}

.headerSubmitBtn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.headerSubmitBtn:hover {
    background-color: #0056b3;
}