.imageCard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.imageCard:hover {
    scale: 1.05;
}

.imageCardImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}